node_modules
../config.js

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.env
.env
backend/.env.docker
backend/hashPassword.js
restaurant_db_2025-08-25_153318.sql
backend/hashPassword.js
