.footer {
  background-color: #4d5e37;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 35px;
  align-items: center;
  border-top: 1px solid #ffffff;
}

.footer-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer-logo {
  flex: 1;
  text-align: center;
}

.footer-logo img {
  height: 100px;
  display: block;
  margin: 0 auto;
}

.footer-socials {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials a {
  color: white;
  font-size: 24px;
  margin: 0 15px;
  text-decoration: none;
}

.footer-socials a:hover {
  background-color: #414833;
  padding: 10px;
  border-radius: 80%;
}

/* Footer section links */
.footer-section ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-section ul li {
  margin: 15px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.footer-section ul li a:link,
.footer-section ul li a:visited {
  color: #fff;
}

.footer-section ul li a:hover,
.footer-section ul li a:active {
  color: #e5e5e5;
}

/* Footer Info */
.footer-info {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.open-hours h5,
.address h5,
.contact-info p {
  margin: 5px 0;
  font-size: large;
}

.open-hours p,
.address h5,
.contact-info p {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  margin: 5px 0;
  color: #ffffff;
}

.footer-info div {
  margin-bottom: 10px;
}

/* Mobile Styling */
@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
    padding: 20px;
  }

  .footer-section {
    flex: 1;
    margin: 10px;
    text-align: center;
  }

  .footer-socials {
    flex: 1;
    margin-top: 10px;
  }

  .footer-info {
    margin-top: 20px;
  }

  .footer-section li {
    font-size: 16px; /* Decrease font size for mobile */
  }

  .footer-section ul li a {
    font-size: 16px; /* Decrease link font size */
  }

  .footer-socials a {
    font-size: 20px; /* Reduce icon size */
  }
}
