.footer {
  background-color: #7c8651;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 35px;
  align-items: center;
  border-top: 1px solid #ffffff;
}

.footer-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-section li {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  margin: 15px 0;
}

.footer-logo {
  flex: 1;
  text-align: center;
}

.footer-logo img {
  height: 100px;
  display: block;
  margin: 0 auto;
}

.footer-socials {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials a {
  color: white;
  font-size: 24px;
  margin: 0 15px;
  text-decoration: none;
}

.footer-socials a:hover {
  color: #e5e5e5;
}

/* Update the link styling */
.footer-section ul li a {
  text-decoration: none;
  color: #fff; /* Default link color: white */
  font-size: 18px;
}

/* Ensure links remain white even when visited */
.footer-section ul li a:link,
.footer-section ul li a:visited {
  color: #fff; /* Set visited link color to white */
}

/* Hover and active states for links */
.footer-section ul li a:hover,
.footer-section ul li a:active {
  color: #e5e5e5; /* Change color to light gray on hover or active */
}

.footer-info {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.open-hours h5,
.address h5,
.contact-info p {
  margin: 5px 0;
  font-size: large;
}

.open-hours p,
.address h5,
.contact-info p {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  margin: 5px 0;
  color: #ffffff;
}

.footer-info div {
  margin-bottom: 10px;
}
