/* #region General styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
}

p,
h5 {
  color: black;
}

h1,
h2,
h3,
footer {
  text-align: center;
  color: #58784f;
}

h4 {
  text-align: center;
  color: #58784f;
  font-size: 15px;
  font-family: "Cormorant Garamond", serif;
}

p {
  justify-content: center;
  text-align: center;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 2px;
  color: black;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 800px;
  display: block;
}
/* #endregion General styles */

/* Navbar Styles */
.navbar {
  background-color: #6f784f;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 4px 60px;
  transition: top 0.3s;
  z-index: 1000;
}

.nav-link {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #ffffff;
  padding: 14px 16px;
  font-weight: 800;
  margin: 0;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #ffffff;
  padding: 14px 16px;
  font-weight: 800;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #f8cfaf;
}

.nav-register {
  display: flex;
  align-items: center;
}

.register-button {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #000000;
  padding: 14px 16px;
  font-weight: 800;
  background-color: #f8cfaf;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Responsive Styles for Mobile */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    float: none;
    text-align: center;
    padding: 10px;
  }

  .dropdown {
    float: none;
    text-align: center;
  }

  .dropdown-content {
    position: static;
    display: none;
    text-align: center;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
/* #endregion Navbar */

/* #region Button */
.button-18 {
  align-items: center;
  background-color: #58784f;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #709078;
  color: #ffffff;
}

.button-18:active {
  background: #709078;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
/* #endregion Button */

/* #region Header Image */
.imageheader2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.imageheader2 img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* #endregion Header Image */

/* #region Reservation Modal */
#reservationModal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f8cfaf;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #ca0000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
/* #endregion Reservation Modal */

/* #region Slider */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background-color: #58784f;
  height: 625px;
  margin: auto;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  width: calc(250px * 14); /* Nombre d'images * largeur de chaque image */
}

.slide {
  height: 800px;
  width: 550px;
}

.slide img {
  padding: 10px;
}
/* #endregion Slider */
