/* #region General styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  background-color: #58784f;
}

p,
h5 {
  color: black;
}

h1,
h2,
h3 {
  text-align: center;
  color: #58784f;
}

h4 {
  text-align: center;
  color: #58784f;
  font-size: 15px;
  font-family: "Cormorant Garamond", serif;
}

.intro {
  justify-content: center;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

h2 {
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 2px;
  color: black;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 800px;
  display: block;
}
/* #endregion General styles */

/* Navbar Styles */
.navbar {
  background-color: #6f784f;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Align vertically */
  padding: 4px 60px;
  transition: top 0.3s;
  z-index: 1000;
}

.nav-link,
.dropbtn,
.register-button {
  background-color: #6f784f;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #ffffff;
  padding: 14px 16px;
  font-weight: 800;
  margin: 0;
  cursor: pointer;
  height: 50px; /* Consistent height */
  display: flex;
  align-items: center; /* Vertically center text */
  box-sizing: border-box;
  font-size: 1.2rem;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px; /* Ensure uniform height */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Ensure dropdown appears below the button */
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 10px;
  font-size: 16px; /* Uniform font size */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ffdcc9;
}

.register-button {
  background-color: #4f7869;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 14px 16px;
  font-weight: 800;
  box-sizing: border-box;
}

/* Responsive Styles for Mobile */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    float: none;
    text-align: center;
    padding: 10px;
  }

  .dropdown {
    float: none;
    text-align: center;
  }

  .dropdown-content {
    position: static;
    display: none;
    text-align: center;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
/* #endregion Navbar */

/* #region Header Image */
.imageheader2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.imageheader2 img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* #endregion Header Image */

/* #region Slider */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background-color: #58784f;
  height: 625px;
  margin: auto;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  width: calc(250px * 14); /* Nombre d'images * largeur de chaque image */
}

.slide {
  height: 800px;
  width: 550px;
}

.slide img {
  padding: 10px;
}
/* #endregion Slider */
