.intro {
  justify-content: center;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 800px;
  display: block;
  color: #ffffff;
}

.homepage-header {
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
}

.homepage {
  background-color: #58784f;
  padding: 10px;
}

.est {
  font-size: 15px;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
}

.intro.div {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 800px;
  display: block;
}
/* #endregion General styles */

/* #region Header Image */
.imageheader2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.imageheader2 img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* #endregion Header Image */

/* #region Slider */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background-color: #58784f;
  height: 625px;
  margin: auto;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  width: calc(250px * 14); /* Nombre d'images * largeur de chaque image */
}

.slide {
  height: 800px;
  width: 550px;
}

.slide img {
  padding: 10px;
}

.play-pause-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4f7869;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10; /* Ensure button is on top */
}

.play-pause-button:hover {
  background-color: #414833;
}
/* #endregion Slider */
