/* Navbar Container */
.navbar {
  background-color: #6f784f;
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  z-index: 1000;
}

/* Flex Container */
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  list-style: none;
  margin: 0;
  height: 60px;
}

/* Flex Items */
.flexItem {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: center;
}

.navLink,
.dropbtn,
.registerButton {
  background-color: #6f784f;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #ffffff;
  padding: 14px 16px;
  font-weight: 800;
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.navLink:hover,
.dropbtn:hover,
.dropdownContent li:hover,
.dropdownContent a:hover,
.registerButton:hover {
  background-color: #414833;
  color: white;
  text-decoration: underline;
}

/* Dropdown Container */
.dropdown {
  position: relative;
  height: 88px;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-width: 200px;
  z-index: 10;
  list-style: none;
  padding: 10px 0;
}

.dropdownContent li {
  padding: 10px;
  text-align: center;
  list-style: none;
}

.dropdownContent a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.dropdown:hover .dropdownContent {
  display: block;
}

/* Register Button */
.registerButton {
  background-color: #4f7869;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 14px 16px;
  font-weight: 800;
}

@media only screen and (max-width: 768px) {
  .flexContainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .dropdownContent {
    position: static;
  }
}
